<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Who I Am</div>
            <p class="paragraph-text justify-text">
                My name is Noah Harman, and I am a mechanical engineering student at Cornell University. Throughout my degree program I have concentrated on taking classes in the aerospace engineering field as well as the mechanical realm, with my specialty being in the overlap of the two. 
            </p>
        </div>
    </section>
</div>
